<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student</title>
    <th:block th:replace="~{header::library}"></th:block>
    <style>
        .err {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<div th:replace="~{header :: navbar}"></div>
<div class="container mt-5">

    <form th:action="@{/student/create}" th:object="${student}" method="post">
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="err"></small>
            <input type="text" class="form-control" id="inputName" th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="err"></small>
            <input type="email" class="form-control" id="inputEmail" th:field="*{email}"/>
        </div>
        <div class="mb-3">
            <label for="inputPoint" class="form-label">Point</label>
            <small th:if="${#fields.hasErrors('point')}" th:errors="*{point}" class="err"></small>
            <input type="number" class="form-control" id="inputPoint" th:field="*{point}" min="0" max="100"/>
        </div>
        <div class="mb-3">
            <label for="inputDOB" class="form-label">DOB</label>
            <small th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="err"></small>
            <input type="date" class="form-control" id="inputDOB" th:field="*{dob}"/>
        </div>
        <div class="mb-3">
            <label for="classname" class="form-label">Class</label>
            <small th:if="${#fields.hasErrors('classroom')}" th:errors="*{classroom}" class="err"></small>
            <select class="form-select" id="classname" th:field="*{classroom}">
                <option value="">---Chọn lớp---</option>
                <option th:each="classroom : ${classrooms}" th:value="${classroom.id}" th:text="${classroom.nameClass}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
